---
import Layout from '../layouts/Layout.astro';
import VideoBackground from '../components/VideoBackground.astro';
import ContentOverlay from '../components/ContentOverlay.astro';
import FitnessLogo from '../components/FitnessLogo.astro';
---

<Layout title="Welcome to Fitness Planner">
  <div
    class="md:min-h-screen min-h-[-webkit-fill-available] flex flex-col justify-end sm:justify-center items-center bg-black"
  >
    <VideoBackground />
    <ContentOverlay />
  </div>
</Layout>
