---
import {
  SignedIn,
  SignedOut,
  SignInButton,
  SignUpButton,
} from '@clerk/astro/components';
---

<main class="relative z-10 text-white p-8 max-w-2xl text-left md:text-center">
  <h1 class="text-4xl md:text-6xl font-bold mt-4">
    Take Your Fitness To The Next Level
  </h1>
  <p class="mt-4">
    Fitness Planner is your AI-powered personal trainer. We create tailored
    workout routines based on your goals and schedule. Achieve your fitness
    aspirations with our personalized, science-backed plans.
  </p>
  <div class="mt-6 flex justify-left md:justify-center space-x-4">
    <SignedIn>
      <a
        href="/program"
        class="bg-white text-black px-6 py-2 rounded-full inline-block"
      >
        Get Started
      </a>
    </SignedIn>

    <SignedOut>
      <SignUpButton
        mode="modal"
        mode="redirect"
        as="button"
        class="bg-white text-black px-6 py-2 rounded-full"
        fallbackRedirectUrl="/program"
      />
      <SignInButton
        mode="modal"
        as="button"
        class="text-white border border-neutral-500 px-6 py-2 rounded-full"
        fallbackRedirectUrl="/program"
      />
    </SignedOut>
  </div>
</main>
