<div class="absolute inset-0 z-0 overflow-hidden">
    <video autoplay loop muted class="w-full h-full object-cover">
      <source src="/gymVideo.mp4" type="video/mp4">
      Your browser does not support the video tag.
      <p>Your browser does not support the video tag. Please update your browser or use a different one.</p>
    </video>
    <div class="absolute inset-0 bg-black opacity-65"></div>
  </div>